$purple: #63049b;

.hero {
  height: 100vh;
  padding: 0 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  position: relative;

  .gradient {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: -1;
    width: 623px;
    height: 623px;
    border-radius: 623px;
    background: linear-gradient(
      318deg,
      #6f113e 13.43%,
      rgba(111, 17, 62, 0) 93.61%
    );
    filter: blur(125px);
  }

  img {
    position: absolute;
    top: 210px;
    right: 70px;
    z-index: -1;
  }
  .content {
    p {
      font-size: 40px;
      font-family: "Corinthia", cursive;
    }
    h1 {
      font-size: 60px;
      font-family: "Orbitron", sans-serif;
      letter-spacing: 1px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    .button1 {
      background-color: $purple;
      color: white;
      width: 203px;

      padding: 20px 50px;
      border-radius: 12px;
      font-size: 20px;
    }

    .button2 {
      background-color: #fff;
      color: $purple;
      width: 203px;

      padding: 18px 40px;
      border-radius: 12px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1600px) {
  .hero {
    padding: 0 200px;
    gap: 40px;

    .gradient {
      top: 120px;
      left: 80px;
      width: 523px;
      height: 523px;
      border-radius: 523px;
    }

    img {
      width: 850px;
      top: 150px;
      right: 40px;
    }
    .content {
      p {
        font-size: 35px;
      }
      h1 {
        font-size: 45px;
      }
    }

    .buttons {
      gap: 18px;
      .button1 {
        width: 190px;
        padding: 18px 45px;
        border-radius: 11px;
        font-size: 18px;
      }

      .button2 {
        width: 190px;
        padding: 18px 42px;
        border-radius: 11px;
        font-size: 18px;
      }
    }
  }
}
