$purple: #63049b;

.hero {
  height: 100vh;
  padding: 0 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  position: relative;

  .gradient {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: -1;
    width: 623px;
    height: 623px;
    border-radius: 623px;
    background: linear-gradient(
      318deg,
      #6f113e 13.43%,
      rgba(111, 17, 62, 0) 93.61%
    );
    filter: blur(125px);
  }

  img{
    position: absolute;
    top: 210px;
    right: 70px;
    z-index: -1;
  }
  .content {
    p {
      font-size: 40px;
      font-family: "Corinthia", cursive;
    }
    h1 {
      font-size: 60px;
      font-family: "Orbitron", sans-serif;
      letter-spacing: 1px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    .button1 {
      background-color: $purple;
      color: white;
      padding: 20px 50px;
      border-radius: 12px;
      font-size: 20px;
    }

    .button2 {
      background-color: #fff;
      color: $purple;
      padding: 20px 50px;
      border-radius: 12px;
      font-size: 20px;
    }
  }
}
