$purple: #63049b;

.common-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    h2 {
      font-family: "Orbitron", sans-serif;
      font-size: 32px;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-family: "DM Sans", sans-serif;
      text-align: center;
      line-height: 30px;
      margin-bottom: 50px;
    }
  }

  .card {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #14011f;
    backdrop-filter: blur(62px);

    .container {
      width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .data {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
        h3 {
          font-size: 48px;
          font-family: "DM Sans", sans-serif;
          font-weight: 700;
        }
        p {
          font-size: 21px;
          line-height: 30px;
        }
        a {
          padding: 20px 56px;
          background-color: $purple;
          border-radius: 12px;
          font-size: 18px;
        }
      }

      img {
        height: 400px;
        width: 650px;
      }
    }

    .reverse {
      flex-direction: row-reverse;
      background-color: black;
      gap: 100px;
    

    
    }
  }

  .reverse {
    background-color: black;

    .blob {
        position: absolute;
        top: 10px;
        right: 120px;
        width: 500px;
        height: 500px;
        border-radius: 600px;
        background: linear-gradient(
          318deg,
          rgba(149, 69, 252, 0.8) 13.43%,
          rgba(111, 17, 62, 0) 93.61%
        );
        filter: blur(125px);

      }
  }
}
